## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config2 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saint-Philippe,RE,-21.3585,55.7679,80.15,81,100,14.74,overcast clouds
1,1,Nieuw Nickerie,SR,5.9500,-56.9833,79.56,83,87,10.65,overcast clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,65.86,48,20,13.80,few clouds
3,3,Oro Valley,US,32.3909,-110.9665,67.41,17,0,1.99,clear sky
4,4,Vaini,TO,-21.2000,-175.2000,75.36,94,100,10.36,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saint-Philippe,RE,-21.3585,55.7679,80.15,81,100,14.74,overcast clouds
1,1,Nieuw Nickerie,SR,5.9500,-56.9833,79.56,83,87,10.65,overcast clouds
4,4,Vaini,TO,-21.2000,-175.2000,75.36,94,100,10.36,light rain
6,6,Kapaa,US,22.0752,-159.3190,75.52,77,75,1.99,broken clouds
17,17,Rikitea,PF,-23.1203,-134.9692,79.12,70,1,17.02,clear sky
21,21,Teahupoo,PF,-17.8333,-149.2667,80.53,76,67,21.90,light rain
24,24,Butaritari,KI,3.0707,172.7902,81.61,77,48,16.08,light rain
36,36,Grand Gaube,MU,-20.0064,57.6608,79.38,81,78,3.00,broken clouds
37,37,Buala,SB,-8.1450,159.5921,80.94,84,100,8.97,light rain
38,38,Georgetown,MY,5.4112,100.3354,78.73,92,40,0.00,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                153
City                   153
Country                152
Lat                    153
Lng                    153
Max Temp               153
Humidity               153
Cloudiness             153
Wind Speed             153
Current Description    153
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saint-Philippe,RE,-21.3585,55.7679,80.15,81,100,14.74,overcast clouds
1,1,Nieuw Nickerie,SR,5.9500,-56.9833,79.56,83,87,10.65,overcast clouds
4,4,Vaini,TO,-21.2000,-175.2000,75.36,94,100,10.36,light rain
6,6,Kapaa,US,22.0752,-159.3190,75.52,77,75,1.99,broken clouds
17,17,Rikitea,PF,-23.1203,-134.9692,79.12,70,1,17.02,clear sky
...,...,...,...,...,...,...,...,...,...,...
551,551,Sola,VU,-13.8833,167.5500,82.08,78,100,15.77,overcast clouds
552,552,Marakkanam,IN,12.2000,79.9500,76.26,73,99,11.65,overcast clouds
556,556,Sorong,ID,-0.8833,131.2500,80.22,81,100,11.70,overcast clouds
559,559,Mananjary,MG,-21.2167,48.3333,77.90,91,100,11.72,light rain
565,565,Sabya,SA,17.1495,42.6254,78.42,68,17,8.08,few clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Saint-Philippe,RE,80.15,overcast clouds,-21.3585,55.7679,
1,Nieuw Nickerie,SR,79.56,overcast clouds,5.9500,-56.9833,
4,Vaini,TO,75.36,light rain,-21.2000,-175.2000,
6,Kapaa,US,75.52,broken clouds,22.0752,-159.3190,
17,Rikitea,PF,79.12,clear sky,-23.1203,-134.9692,
21,Teahupoo,PF,80.53,light rain,-17.8333,-149.2667,
24,Butaritari,KI,81.61,light rain,3.0707,172.7902,
36,Grand Gaube,MU,79.38,broken clouds,-20.0064,57.6608,
37,Buala,SB,80.94,light rain,-8.1450,159.5921,
38,Georgetown,MY,78.73,scattered clouds,5.4112,100.3354,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Saint-Philippe,RE,80.15,overcast clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
1,Nieuw Nickerie,SR,79.56,overcast clouds,5.9500,-56.9833,Ishwardat Inn
4,Vaini,TO,75.36,light rain,-21.2000,-175.2000,Keleti Beach Resort
6,Kapaa,US,75.52,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
17,Rikitea,PF,79.12,clear sky,-23.1203,-134.9692,People ThankYou

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Saint-Philippe,RE,80.15,overcast clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
1,Nieuw Nickerie,SR,79.56,overcast clouds,5.9500,-56.9833,Ishwardat Inn
4,Vaini,TO,75.36,light rain,-21.2000,-175.2000,Keleti Beach Resort
6,Kapaa,US,75.52,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
17,Rikitea,PF,79.12,clear sky,-23.1203,-134.9692,People ThankYou
...,...,...,...,...,...,...,...
551,Sola,VU,82.08,overcast clouds,-13.8833,167.5500,Leumerus Bungalows
552,Marakkanam,IN,76.26,overcast clouds,12.2000,79.9500,Samvasa by the Sea
556,Sorong,ID,80.22,overcast clouds,-0.8833,131.2500,Waigo Splash Hotel
559,Mananjary,MG,77.90,light rain,-21.2167,48.3333,Vahiny Lodge
565,Sabya,SA,78.42,few clouds,17.1495,42.6254,Aseel Hotel Apartment

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
#locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))